body {
    background-color: antiquewhite;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
form {
    background-color: aquamarine;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px 30px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    }

.form-control {
     text-align: left;
    margin-bottom: 20px;
    border-style: double;
    border-width: 1px;
    border-radius: 10px;
    }

    .form-control label {
        display: block;
        margin-bottom: 10px;
    }

 button {
     font-family: 'Times New Roman', Times, serif;
     background-color:azure;
     font-size: 20px;
 }